@model Model.AgentInfoView
@{
    ViewBag.Title = "代理商基本信息";
}
@section styles{

    <style>
        .display-field {
            width: 20%;
        }
    </style>
<link href="~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
}


<form action="/AgentState/AgentInfo/Index" method="POST" id="formList" data-intercept="false" data-ajax="true" data-callback="CommentSuccess">
    <fieldset>
        <div class="tabbable" id="tabs-302838">
            <ul class="nav nav-tabs">
                <li><a contenteditable="false" data-toggle="tab" href="#panel-628299">代理商基本信息</a></li>
                <li class="active"><a contenteditable="false" data-toggle="tab" href="#panel-288771">个人基本信息</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane " contenteditable="false" id="panel-628299">
                    <p></p>
                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.AgentName)</b>
                    </div>
                    <div class="display-field">
                        @if (ViewBag.Check == 0)
                        {
                            @Html.DisplayFor(model => model.AgentName)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AgentName, new { @class = "form-control" })
                        }

                        @*@Html.ValidationMessageFor(model => model.AgentName, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.Range)</b>
                    </div>
                    <div class="display-field">
                        @Html.TextBoxFor(model => model.Range, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
                    </div>

                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.Contact)</b>
                    </div>
                    <div class="display-field">
                        @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </div>

                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.ContactPhone)</b>
                    </div>
                    <div class="display-field">
                        @Html.TextBoxFor(model => model.ContactPhone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                    </div>

                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.ContactTEL)</b>
                    </div>
                    <div class="display-field">
                        @Html.TextBoxFor(model => model.ContactTEL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContactTEL, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="tab-pane active" contenteditable="false" id="panel-288771">
                    <div style="height: 190px" id="uploadContainer" data-image-type="3" data-max="1" data-callback-element="IMG" data-url="/File/ImageUpload" data-accept="image/png,image/jpeg" data-size="2048" data-multiple="multiple" data-path="/File/ShowImage/{0}" data-parttern="single" data-cross-domain="true">
                    </div>
                    <input id="IMG" name="IMG" type="text" value="@Model.IMG" style="display: none" />
                    
                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.UserName)</b>
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })

                      @Html.HiddenFor(model => model.UserName)
                    </div>


                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.NickName)</b>
                    </div>
                    <div class="display-field">
                        @Html.TextBoxFor(model => model.NickName, new { @class = "form-control" })
                       
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>

                    <div class="display-label">
                        <b>  @Html.DisplayNameFor(model => model.Sex)</b>
                        
                    </div>
                    <div class="display-field">
                        @Html.DropDownList("Sex", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })

                    </div>
                </div>
                @Html.HiddenFor(model => model.UserBasicID)
                @Html.HiddenFor(model => model.ID)
            </div>
        </div>
        <p></p>

        <input type="submit" value=" 保存 " class="btn btn-sm btn-primary" />
        <input type="button" value=" 取消 " class="btn btn-sm btn-primary" />

    </fieldset>
    @*}*@
</form>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
   

<script src="~/Scripts/poshytip/jquery.poshytip.js"></script>
    <script src="~/Areas/AgentState/Scripts/AgentInfo/Index.js"></script>

    <script src="~/Plugin/upload/jquery-upload.js"></script>

}