@model Model.ShopInfoView


@{

        ViewBag.Title = "门店详情";
        string imageDomain = Bll.ConstConfigBll.GetConfigByKey("ImageShowUrl");
}
@section Styles{
    <link href="@Url.Content("~/Plugin/window/css/common.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
    <link href="~/Css/selling.css" rel="stylesheet" />
    }
@section scripts{
    <script src="/Plugin/window/jquery-window.js"></script>
    <script src="~/Scripts/ChannelpublicJs/PublicStatus.js"></script>
    <script src="~/Areas/AgentState/Scripts/AgentShopInfo/Details.js"></script>
    <script type="text/javascript">

    </script>
}
<div class="row">
    <div class="panel panel-body">
        <a class="logo-img"><img src="@(imageDomain)@Model.shopIMG" width="220px" height="164px" /></a>
        <h4 class="text-info">@Model.ShopName</h4>
        <address>地址：@Model.Address</address>
        <address>总机：@Model.ContactTEL                     <span style="display: inline-block; margin-left: 200px;">  联系人：@Model.Contact</span></address>
        <address>所属公众号：@Model.MPName</address>
        @if (Model.Relation == 1)
        {
            <address>门店类型：直营店</address>
        }
        else
        {
            <address>门店类型：代理商下属门店</address>
            <address>所属代理商：@Model.AgentName</address>
        }
        <address>状态：<span id="AgentStatus">@Model.Status</span></address>
        <address>主营业务：@Model.Range</address>
        <address>
            <label>二维码使用情况：</label>
            <div class="progress">
                @Model.QRNum
            </div>
        </address>
        <ul class="ul-total" style="cursor: pointer;">
            <li>商品总数:<a>@Model.GoodsCount</a></li>
            <li class="HrefFrame" data-url="guideManage.html" data-div=".contentpanel" data-title="导购管理">导购数:<a>@Model.GuidCount</a></li>
            <li>订单数:<a>@Model.OrderCount</a></li>
            <li>评价数:<a>@Model.PrimitiveCount</a></li>
        </ul>
        <div class="form-group">

            @if (Model.Status == 5)
            {
                <a class="btn btn-primary btn-sm white winO2OPanel disableCss">修改基本信息</a>
                <a data-id="@Model.ID" id="Recovery" class="btn btn-primary btn-sm white winO2OPanel">恢复</a>
                <a id="close" data-id="@Model.ID" class="btn btn-primary btn-sm white winO2OPanel">关闭</a>
                <a class="btn btn-primary btn-sm white winO2OPanel  disableCss">新增导购</a>
            }
            else
            {
                <a href="javascript:void(0)"
                   class="btn btn-primary btn-sm white winO2OPanel"
                   data-title="修改基本信息"
                   data-func="openWin"
                   data-id="editThis"
                   data-show-btn="false"
                   data-callback="testCallbackEditWindow_Update"
                   data-url="/AgentState/AgentShopInfo/Update?ID=@Model.ID"
                   data-width="800"
                   data-height="500">修改基本信息</a>
                  <a data-id="@Model.ID" id="pause" class="btn btn-primary btn-sm white winO2OPanel">暂停</a>
                  <a id="close" data-id="@Model.ID" class="btn btn-primary btn-sm white winO2OPanel">关闭</a>
    <a href="javascript:void(0)"
       class="btn btn-primary btn-sm white winO2OPanel"
       data-title="修改基本信息"
       data-func="openWin"
       data-id="editThis_Create_Guid"
       data-show-btn="false"
       data-callback="testCallbackWindow_Create_GuidUn"
       data-url="/AgentState/AgentGuidUn/Create?ShopInfoID=@Model.ID"
       data-width="800"
       data-height="500">新增导购</a>
            }
            <a href="Index" id="" class="btn btn-primary btn-sm white winO2OPanel">返回</a>
        </div>
        @*<ul class="ul-total">
                <li>商品总数:<a>0</a></li>
                <li>导航数:<a>5</a></li>
                <li>订单数:<a>19885</a></li>
                <li>评价数:<a>8748</a></li>
            </ul>*@
        @*<div class="form-group">

                <a href="javascript:void(0)"
                   class="btn btn-primary btn-sm white winO2OPanel"
                   data-title="新增直营店窗口"
                   data-func="openWin"
                   data-id="newWinCreate"
                   data-show-btn="false"
                   data-callback="testCallback_Enterprise_Create"
                   data-url="ShopInfo/Agent_Create?AgentName='@Model.AgentName'"
                   data-width="600"
                   data-height="500">新增门店</a>
            </div>*@
    </div>
</div>

