@model IList<Model.ConstConfig>
@{
    Layout = "~/Areas/Operate/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "系统平台参数设置";
}



<table class="table table-bordered" id="tableList" align="center">
    <tr>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
        <th>
            备注
        </th>
        <th>
            操作
        </th>
    </tr>
    <tr>
        <th>
            <input type="text" id="thisKey" />
        </th>
        <th>
            <input type="text" id="thisValue" />
        </th>
        <th>
            <input type="text" id="thisRemarks" />
        </th>
        <th>
            <input type="button" class="btn btn-primary " value="增加" onclick="AddThis()" />
        </th>
    </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @Html.DisplayFor(s=>item.CKey)
           </td>
           <td>
               @*@Html.DisplayFor(s => item.CValue)*@
               <label>@System.Text.Encoding.UTF8.GetString(item.CValue)</label>
           </td>
           
           <td>
               @Html.DisplayFor(s => item.Remarks)
           </td>
           <td>
               <input type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal" value="修改" onclick="EditThis('@item.CKey','@System.Text.Encoding.UTF8.GetString(item.CValue)','@item.Remarks')" />
                
           </td>

       </tr>
      
   }

    
    

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改</h4>

            </div>
        <input type="hidden" id="hidKey"/>
            <div class="modal-body">
                <label>Value：</label>
                <input type="text" id="GName" class="form-control" placeholder="请输入Value" />
               
                <p></p>
                <label>备注：</label>
                <input type="text" id="GReMark" class="form-control" placeholder="请输入备注" />
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ClickByAjax()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script type="text/javascript">
    
    var AddThis = function () {


        var key = $("#thisKey").val();
        var value = $("#thisValue").val();
        var mark = $("#thisRemarks").val();

        if (key.length<=0) {
            $.message("Key不能为空！", false);
            return;
        }
        if (value.length<=0) {
            $.message("Value不能为空！", false);
            return;
        }
        if (mark.length<=0) {
            $.message("备注不能为空！", false);
            return;
        }

        $.post("/ConstConfig/Add", {
            CKey:key,CValue:value,Remarks:mark
            
        }, function (data) {
            if (data == "添加成功！") {
                $.message(data, true);
               // location.reload();
                window.location.reload();
            } else {
                $.message(data, false);
                return;
            }
            
        });
    }
    var EditThis=function(key,value,mark) {
      
        $("#GName").val(value);
        $("#GReMark").val(mark);
        $("#hidKey").val(key);
    }

    var ClickByAjax= function() {
        var key= $("#hidKey").val();
        var value= $("#GName").val();
        var mark=$("#GReMark").val();
        if (key.length<=0) {
            $.message("Key不能为空！", false);
            return;
        }
        if (value.length<=0) {
            $.message("Value不能为空！", false);
            return;
        }
        if (mark.length<=0) {
            $.message("备注不能为空！", false);
            return;
        }


        $.post("/ConstConfig/Edit", {
            CKey:key,CValue:value,Remarks:mark
            
        }, function (data) {
            if (data == "修改成功！") {
                $.message(data, true);
                location.reload();
            } else {
                $.message(data, false);
                return;
            }
            
        });
    }

</script>
 