@model Model.AgentView

@{
    ViewBag.Title = "代理商管理";
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Css/base.css" rel="stylesheet">
    <link href="~/Css/bootstrap-override.css" rel="stylesheet" />
    <link href="~/Css/windowbase.css" rel="stylesheet" />
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/Public/PageValidate.js"></script>
    <script src="~/Scripts/ChannelpublicJs/PublicStatus.js"></script>
    <script type="text/javascript">
        function testCallbackEdit(obj) {
            $.closeParentWindow({
                status: true,
                winId: "editThis"
            });
        }
    </script>
}
<form method="post" id="frnEdit" data-ajax="true" data-callback="testCallbackEdit" action="/Agent/EditAfter">
    <div class="form-group">
        <input type="hidden" value="@Model.ID" name="ID" />
        <label class="col-sm-3 control-label">渠道类型 <span class="asterisk">*</span></label>
        <div class="col-sm-8">
            <div class="rdio rdio-primary">
                <input type="radio" id="male" value="m" name="gender" checked="checked" required="">
                <label for="male">代理商</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">代理商名称<span class="asterisk">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.AgentName, new { @Class = "form-control", placeholder = "限制在15个字符内" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">所属区域<span class="asterisk">*</span></label>
        <div class="col-sm-8">
            @*@Html.DropDownList("Province", null, "请选择省", htmlAttributes: new { @class = "ver-select", style = "width:Auto;display:inline;" })
            <select id="City" name="City" class="ver-select">
                <option value="0">请选择市</option>
            </select>
            <select id="AreasID" name="AreasID" class="ver-select">
                <option value="0">选择区/县</option>
            </select>*@

            <div id="abcdE" dataneedcheck="1" selectvalue="['@Model.ProvinceId','@Model.CityId','@Model.County']" selectname="['Province','City','County']" domdata-citys></div>
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">联系人<span class="asterisk">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.Contact, new { @Class = "form-control", placeholder = "限制在10个字符内" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">注册手机号<span class="asterisk">*</span></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="TElSHA" name="TElSHA" value="*************" data-val="true" data-val-autovalidate="手机号码格式不正确" />
            @*@Html.TextBoxFor(x => x.TElSHA, new { @Class = "form-control", placeholder = "限制在16个字符内", @Value = "11111111111", style = " display:none" })*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">所属分组</label>
        <div class="col-sm-8">
            @Html.DropDownList("ChannelGroupID", null, "请选择渠道分组", htmlAttributes: new { @class = "form-control", style = "width:Auto;display:inline;" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">备注</label>
        <div class="col-sm-8">
            @Html.TextAreaFor(x => x.Remarks, new { @Class = "form-control", placeholder = "限制在255个字符内" })
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="保存" />
        <button type="button" class="btn btn-default" id="EditClose" data-dismiss="modal">取消</button>
    </div>
</form>

