@model Model.GuidUnDetails

@{
    ViewBag.Title = "导购详情";
}
@section styles{
      <link href="~/Css/guideManage.css" rel="stylesheet" />
      <link href="@Url.Content("~/Plugin/window/css/common.css")" rel="stylesheet" />
      <link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
      <link href="~/Css/selling.css" rel="stylesheet" />
}
@section scripts{
      <script src="/Plugin/window/jquery-window.js"></script>
      <script src="~/Scripts/GuidUn/Details.js"></script>

}
<div class="panel-default">

    <div class="panel" style="overflow: hidden;padding: 10px 20px;">
        <h4 class="panel-title col-sm-2"><img src="../images/photos/blog2.jpg" /></h4>
        <div class="tittle-right col-sm-9">
            <div class="tittle">
                <h3>@Model.GuidName</h3>
                <h3>
                @if (Model.Sex == 1)
                {
                    <span>男</span>
                }
                else if (Model.Sex == 2)
                {
                    <span>女</span>
                }</h3>
            </div>
            <p>手机号：@Model.ContactPhone</p>
            <p>
                <span>赞：@Model.PrimitiveCount</span>
                <span>总预约：@Model.DataCount</span>
            </p>
            <p>上班时间：@Model.WorkTime</p>
        </div>
    </div>

    <div class="bottom panel">
        @if (Model.Status == 2)
        {
            <a agentid="@Model.ID" id="Recovery" class="btn btn-primary btn-sm">恢复</a>
           <a class="btn btn-primary btn-sm white winO2OPanel disableCss">修改</a>
        }
        else
        {
            <a class="btn btn-primary btn-sm" agentid="@Model.ID" id="pause">暂停</a>
        <a href="javascript:void(0)"
           class="btn btn-primary btn-sm white winO2OPanel"
           data-title="修改基本信息"
           data-func="openWin"
           data-id="editThis_update"
           data-show-btn="false"
           data-callback="testCallbackEditWindow_Update"
           data-url="Update?GuidName='@Model.GuidName'&ID=@Model.ID&TEl='@Model.TEl'&GuidType=@Model.GuidType"
           data-width="800"
           data-height="500">修改</a>           
        }

        <a class="btn btn-default btn-sm winO2OPanel" id="close" agentid="@Model.ID" data-toggle="modal" data-target=".bs-example-modal-lg" data-url="deleteGuide.html">关闭</a>
        <a class="btn btn-primary btn-sm" href="Index">返回</a>

    </div>
</div>
