@model List<Model.GoodsGroup>
@{
    Layout = "~/Views/Shared/_ChildLayout.cshtml";
}
@section scripts{
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function save() {
            if ($('#form333 input[type=checkbox]:checked').length === 0) {
                $.message('请至少选择其中一项', false);
                return;
            }
            $.post('@Url.Action("CreateRelationWithGoodsGroup")', $('#form333').serialize(), function (data) {
                $.message(data.Message, true);
                window.setTimeout(function () {
                    if (data.Status === true) {
                        closeW(true);
                    }
                }, 1000);
            }, 'json');
        }

        function closeW(isRefresh) {
            $.closeParentWindow({
                status: isRefresh,
                winId: "autoOpen3",
            });
        }
    </script>
}
@section styles
{
    <link rel=stylesheet href="@Url.Content("~/css/base.css")" />
    <link href="~/Css/bootstrap-override.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
}
<div style="OVERFLOW: hidden;margin-top:25px;">
    <form id="form333">
        @Html.Hidden("channelGroupId", Request.QueryString["channelGroupId"])
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <label class=col-sm-3>
                    <input type=checkbox name="GoodsGroupIds" value="@Model[i].ID">@Model[i].GroupName
                </label>
            }
        }
    </form>
</div>
<div style="MARGIN-TOP: 30px">
    <input class="btn btn-primary" type=button value=保存 onclick="save();" />
    <input class="btn btn-default" type=button value=取消 onclick="closeW(false);" />
</div>
