@{
    Layout = "~/Areas/AgentState/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    @* <link href="~/Css/batch.css" rel="stylesheet" />*@
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Css/base.css" rel="stylesheet" />
    <link href="~/Plugin/upload/css/upload.css" rel="stylesheet" />    }


<div class="panel panel-default">
    <div class="panel-heading">
        <form action="/AgentState/AgentGoods/UpdateGoods" id="formList" method="post" data-ajax="true" data-intercept="true"
              data-callback="UpdateGoods" class="form-horizontal form-bordered">
            <input type="hidden" id="hidid" name="hidid" value="@ViewBag.gaid" />
            <ul class="textedit">
                <li class="form-inline">
                    <span>商品价格</span>
                    @if (ViewBag.ptype == 2)
                    {
                        <input class="form-control" type="text" name="txtPrice" gpt="@ViewBag.ptype" id="txtPrice" value="@ViewBag.price" disabled="disabled" style="margin-top: 8px;width:100px;" />
                    }
                    else
                    {
                        <input class="form-control" type="text" name="txtPrice" gpt="@ViewBag.ptype" id="txtPrice" value="@ViewBag.price" style="margin-top: 8px;width:100px;" />
                        @*@if (ViewBag.pMin > 0 && ViewBag.pMax> 0)
                        {*@
                            <div class="worth02" id="divRangePrice" style=" margin-left:3%">
                                <label>价格区间</label>
                                <input type="text" class="input-sm form-control01" style="width:100px;height:34px;" id="txtPriceLower" disabled="disabled" value="@ViewBag.pMin" name="txtPriceLower" /> -
                                <input type="text" class="input-sm form-control01" style="width:100px;height:34px;" id="txtPriceUpper" disabled="disabled" value="@ViewBag.pMax" name="txtPriceUpper" />
                            </div>

                        //}
                    }
                </li>
                <li class="form-inline">
                    <span>私有商品介绍</span>
                    <textarea class="form-control" id="EContentEditor" name="EContentEditor" rows="10" style=" height:500px;">@Html.Raw(ViewBag.content)</textarea>
                </li>
                <li>
                    <input type="button" class="btn btn-primary btn-sm" id="btnSave" value="保存" />
                    <input type="button" class="btn btn-default" id="EditClose" value="取消" />
                </li>
            </ul>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Plugin/upload/script/util.js"></script>
    <script src="~/Plugin/form/jquery-ajax.js"></script>
    <script src="~/Plugin/upload/jquery-upload.js"></script>
    <script src="~/Scripts/Common/Common.js"></script>
    <script>

        function windowCallback() {
        };
        function UpdateGoods(obj) {
            $.closeParentWindow({
                status: true,
                winId: "newWin1",
                Data:obj.Data
            });
        };
        $(function () {
            var editor = CKEDITOR.replace('EContentEditor');
            $("#EditClose").click(function () {
                $.closeParentWindow({
                    status: false,
                    winId: "newWin1"
                });
            });
            $("#txtPrice").keyup(function () {
                CheckInputFloat($(this));
            });
            $("#btnSave").click(function () {
                var pr = $("#txtPrice").val();
                var low = parseFloat($("#txtPriceLower").val());
                var upper = parseFloat($("#txtPriceUpper").val());
                var ptype = parseInt($("#txtPrice").attr("gpt"));
                $("#EContentEditor").val(editor.getData());
                var aContent = $.trim($("#EContentEditor").val());
                if (ptype == 1) {
                    if (pr == "") {
                        $.message("价格不能为空！", false);
                    }
                    else {
                        if ((low>0 && parseFloat(pr) < low) || ( upper>0 && parseFloat(pr) > upper)) {
                            $.message("价格必须在价格区间内！", false);
                        }
                        else {
                            $("#formList").submit();
                        }
                    }
                }
                else {
                    if (aContent != "") {
                        $("#formList").submit();
                    }
                    else {
                        $.closeParentWindow({
                            status: false,
                            winId: "newWin1"
                        });
                    }
                }
            });
        });
    </script>
}
