@{
    ViewBag.Title = "账号管理";
}
@section styles
{
    @*这里防止css文件，不允许放到外面 *@
    <link href="../../css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/selling.css" />
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="conditionForm" class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">请输入账号名称</label>
                    <input type="text" class="form-control" id="searchUser" name="searchUser" placeholder="请输入账号名称">
                </div>
                <div class="form-group">
                    @Html.DropDownList("RoleId2", null, "全部角色", htmlAttributes: new { @class = "form-control" })

                </div>
                <button type="button" class="btn btn-default btn-sm" id="searchClass" name="searchClass">查询</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <ul class="filemanager-options">
        <li>
            <div class="ckbox ckbox-default">
                <input type="checkbox" data-func="selectall" data-name="checkthis" id="selectall" value="1">
                <label for="selectall">全选</label>
            </div>
        </li>
        <li class="inline">
            <span>
                <a class="btn btn-default btn-sm btn-default " id="deleteAll" data-au="AccoDel">删除</a>
            </span>
            <span>
                @Html.DropDownList("RoleId3", null, "关联角色", htmlAttributes: new { @class = "form-control" })
            </span>
        </li>
        <li class="filter-type">
            <a class="btn btn-primary btn-sm white"
               data-title="新增账号"
               data-func="openWin"
               data-id="addNewUserWin"
               data-show-btn="false"
               data-callback="index.closeCallback"
               data-ele="addNewUserContainer"
               data-width="500"
               data-height="300" data-au='AccoEdit'>新增账号</a>
        </li>
    </ul>
</div><!--总体操作-->
<div class="row">
    <input type="hidden" id="toalCount" value="@ViewBag.Total" />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="userTable" class="table mb30">
                    <thead>
                        <tr>
                            <th></th>
                            <th>账号</th>
                            <th>角色</th>
                            <th>操作人</th>
                            <th>操作时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <span class="pager"></span>
            </div><!--table-responsive-->
        </div><!--panel-body-->
    </div>
</div><!--panel-->
<div id="addNewUserContainer" style="display: none">

    <div class="form-group" style="margin-top:6%">
        <div class="col-sm-3">
            <label> 用户名</label>
        </div>
        <div class="col-sm-7">
            <input type="text" name="UserName" class="form-control" placeholder="账号名称">
            <p style="font-size: 12px;color: #999999;padding-left: 4px;">字数限制在16个字符内</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label> 密码</label>
        </div>
        <div class="col-sm-7">
            <input type="password" name="Pwd" class="form-control" placeholder="密码">
            <p style="font-size: 12px;color: #999999;padding-left: 4px;">长度为6~16个字符</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label> 关联角色</label>
        </div>
        <div class="col-sm-7">
            @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <input class="btn btn-primary" type="button" name="submitAdd" id="submitAdd" value="保存">
        </div>
    </div>

</div>

<div id="ChangePwdContainer" style="display: none">
    @Html.Hidden("PId")
    <div class="form-group" style="margin-top:6%">
        <div class="col-sm-3">
            <label> 密码</label>
        </div>
        <div class="col-sm-7">
            <input type="password" id="NewPwd" name="NewPwd" value="" class="form-control" />
            <p style="font-size: 12px;color: #999999;padding-left: 4px;">长度为6~16个字符</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <input id="submitChange" type="button" value="保存" class="btn btn-primary" />
        </div>
    </div>
</div>



<div id="EditUser" style="display: none">
    <input type="hidden" id="PId1">

    <div class="form-group" style="margin-top:6%">
        <div class="col-sm-3">
            <label> 用户名</label>
        </div>
        <div class="col-sm-7">

            <input type="text" id="UserName1" name="UserName1" value="" class="form-control" />
            <p style="font-size: 12px;color: #999999;padding-left: 4px;">字数限制在16个字符内</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label> 关联角色</label>
        </div>
        <div class="col-sm-7">
            @Html.DropDownList("RoleId1", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <input class="btn btn-primary" id="submitEdit" type="button" value="保存" />
        </div>
    </div>

</div>

@section scripts
{
    <script src="~/Plugin/pager/jquery-pager.js"></script>
    <script src="~/Scripts/UserPC/Index.js"></script>
    <script src="~/Plugin/window/jquery-window.js"></script>
    <script src="~/Plugin/selectall/jquery-selectall.js"></script>
}
