@model Model.GoodsBasic
@{
    Layout = null;
    string imageDomain = Bll.ConstConfigBll.GetConfigByKey("ImageShowUrl");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    @* 避免手机缓存 *@
    @*<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">*@
    <link href="~/Content/weixin/css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/weixin/css/productDetail.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/weixin/css/owl.carousel.css" />
    <title>商品详情</title>
    <script src="~/Content/weixin/js/jquery.js"></script>
    @{
        string abcdJson = Bll.ConstConfigBll.GetStringConfig();
    }
    <script src="~/Scripts/public.js"></script>
    <script type="text/javascript">
        var publicConfig = {};
        //$.ajax({
        //    url: '/base/GetConfigParamPublic',
        //    dataType: 'json',
        //    async: false,
        //    cache: false, //到时候改为TRUE
        //    success: function (datas) {
        //        publicConfig = $.extend(publicConfig, datas);
        //    }

        //});
        var ab = '@abcdJson';
        window.publicConfig = JSON.parse($.htmlDecode(ab));
        window.publicConfig = publicConfig;

    </script>

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                @* 如果是空连接用javascript:void(0)代替之前的 # Javascript中void是一个操作符，该操作符指定要计算一个表达式但是不返回值。 *@
                @Html.HiddenFor(o => o.ID)
                <a href="javascript:void(0)" class="back link icon-only">
                    <span class="list">&#xe606;</span>
                </a>
            </div>
            <div class="center sliding">商品详情</div>
            <div class="right">
                <a class="link icon-only">
                    <span class="list">&#xe607;</span>

                </a>
                <ul class="listMenu">
                    <li>
                        <img src="/Content/weixin/img/homeicon.png" />
                        <span>主页</span>
                    </li>
                    <li>
                        <img src="/Content/weixin/img/perCer.png" />
                        <span>个人中心</span>
                    </li>
                    <li>
                        <img src="/Content/weixin/img/shopcart.png" style="padding-top: 4px;" />
                        <span style="border: 0;">购物车</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="width: 100%;height: 44px;"></div>
    <div class="top">
        <ul>
            <li class="little-pro-list">
                @* 需要判断是否为空 才去显示内容 Model返回不能为空 如果找不到 需要返回一个实例化对象 *@
                @if (Model.GESnapshotList != null && Model.GESnapshotList.Count > 0 && !string.IsNullOrEmpty(Model.GESnapshotList[0].IMG))
                {
                    //_3是小小图
                    <img class="productImg" src="@(imageDomain+Model.GESnapshot.IMG+"_3")" />
                }
                else
                {
                    <img class="productImg" />
                }
                @* 显示当前商品的企业ID 用来获取传入后台显示对应企业的老客户回访和对应企业的销售卖点 避免再次要根据商品ID查询而耗性能 *@
                @Html.HiddenFor(o => o.EnterpriseID)
                <div class="introduce">
                    <p>
                        @* 需要判断是否为空 才去显示内容 Model返回不能为空 如果找不到 需要返回一个实例化对象 *@
                        @if (Model.GESnapshotList != null && Model.GESnapshotList.Count > 0 && !string.IsNullOrEmpty(Model.GESnapshotList[0].IMG))
                        {
                            @Html.Raw(Model.GESnapshotList[0].GName)
                        }
                    </p>
                    <img class="arrow_down" src="/Content/weixin/img/arrow_down.png" />
                </div>
            </li>
            <li class="large-pro-list">
                @if (Model.GESnapshotList != null && Model.GESnapshotList.Count > 0 && !string.IsNullOrEmpty(Model.GESnapshotList[0].IMG))
                {
                    //_1是大图
                    <img class="productBig" src="@(imageDomain + Model.GESnapshot.IMG + "_1")" />
                }
                else
                {
                    <img class="productBig" />
                }
                <div class="pro-inner">
                    <div class="pro-title">
                        <p>
                            @if (Model.GESnapshotList != null && Model.GESnapshotList.Count > 0 && !string.IsNullOrEmpty(Model.GESnapshotList[0].IMG))
                            {
                                @Html.Raw(Model.GESnapshotList[0].GName)
                            }
                            @*<i class="icon-xian"></i>
                                <i class="icon-cu"></i>
                                <i class="icon-xin"></i>
                                <i class="icon-zen"></i>*@
                        </p>
                    </div>
                    <div class="pro-more">
                        <p class="price">
                            <span>￥</span>
                            <span>
                                @{
                                    //取两位小数
                                    var price = Model.Price.ToString("0.00").Split('.');
                                }
                                @price[0]<span style="font-size: 0.875em;">.@price[1]</span>
                            </span>
                        </p>
                        @* 显示只是企业端的查看微信商品详情不需要这个价格 *@
                        @*<p class="ex-price">
                                <span>￥</span>
                                <span>@Model.MaxPrice</span>
                            </p>*@
                        <img class="arrow_up" src="/Content/weixin/img/arrow_up.png" />
                    </div>
                </div>
            </li>
            @* 为了兼容手机跳转 只能用套a标签 *@
            <a href="/GoodsInfo/Details?goodsId=@Model.ID">
                <li data-id="@Model.ID" class="more" id="GoodsInfoDetails">
                    <p>商品详情/产品参数</p>
                    <img class="arrow" src="/Content/weixin/img/arrow_right_01.png" />
                </li>
            </a>
        </ul>
    </div>
    @*<div class="Carousel">
            <div id="owl-demo" class="owl-carousel">
                <div class="item"><img class="banner-little lazyOwl" src="/Content/weixin/img/img/pg_1.png" /></div>
                <div class="item">
                    <div class="lazyOwl">
                        <p class="contentText"><img src="/Content/weixin/img/box.png" />跨年盛典，年度最后一次狂欢</p>
                        <p class="contentText"><img src="/Content/weixin/img/box.png" />满3999元，使用100元优惠券</p>
                        <p class="contentText"><img src="/Content/weixin/img/box.png" />满5000元，送1000元代金券</p>
                    </div>
                </div>
                <div class="item"><img class="banner-little" class="lazyOwl" src="/Content/weixin/img/img/pg_1.png"></div>
            </div>
        </div>*@
    @*<img class="bg" src="/Content/weixin/img/index_bg.png" />*@
    <ul class="tabTittle">
        <li data-key="feedback" class="activeTab">
            <div class="tittleBox">
                <p class="textActive">累计评价</p>
                <span id="commonCount">@(ViewBag.FeedbackNum)</span>
            </div>
        </li>
        <li data-key="returnView">
            <div class="tittleBox">
                <p>客户回访</p>
                <span id="returnViewCount">@(ViewBag.ReturnVisitNum)</span>
            </div>
        </li>
        <li data-key="sellingPoint">
            <div class="tittleBox">
                <p>商品卖点</p>
                <span id="sellingCount">@(ViewBag.SellPointNum)</span>
            </div>
        </li>
    </ul>

    <div class="tabDetail">
        <ul class="detailBox">
            <li class="all_appraise">
                @Html.Partial("_Feedback")
            </li>
            <li class="back_view">
                @Html.Partial("_ReturnView")
            </li>
            <li class="clinch_record">
                @Html.Partial("_SellingPoint")
            </li>
        </ul>
    </div>
    <div class="toolbar" style="display: none">
        <div class="toolbarIn">
            <a href="#">还价</a>
            <a href="#" class="store">
                <img class="star" src="/Content/weixin/img/stat.png" />
                <img class="starfull" src="/Content/weixin/img/starfull.png" />
            </a>
            <a href="#">加入购物车</a>
            <a href="#" class="buyNow">立即购买</a>
        </div>
    </div>
    
    <script type="text/javascript" src="~/Content/weixin/js/owl.carousel.js"></script>
    <script src="~/Scripts/public.js"></script>
    @* 引用页面js *@
    <script src="~/Scripts/GoodsInfo/audio.js"></script>
    <script src="~/Scripts/GoodsInfo/Index.js"></script>
</body>
</html>
