@{
    ViewBag.Title = "角色管理";
}
@using System.ServiceModel.Activities.Tracking.Configuration
@using Microsoft.Ajax.Utilities
@using Utility;
@section styles
{

    <link href="../../css/jquery.datatables.css" rel="stylesheet">
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/selling.css" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
<link rel="stylesheet" href="../../css/settings.css" />
}
<div class="row">
    <ul class="filemanager-options">
        <li class="filter-type">
            <a class="btn btn-primary btn-sm white"
               data-title="新增角色"
               data-func="openWin"
               data-id="addNewRoleWin"
               data-show-btn="false"
               data-callback="index.closeCallback"
               data-ele="addNewRoleContainer"
               data-width="500"
               data-height="300" data-au='AccoEdit'>新增角色</a>
        </li>
    </ul>
</div><!--总体操作-->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="roleTable" class="table mb30">
                    <thead>
                        <tr>
                            <th>角色</th>
                            <th>更新时间</th>
                            <th>权限设置</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <span class="pager"></span>
            </div><!--table-responsive-->
        </div><!--panel-body-->
    </div>
</div><!--panel-->
<div id="addNewRoleContainer" style="display: none">
    <div class="form-group" style="margin-top:6%">
        <div class="col-sm-3">
            <label>角色名称</label>
        </div>
        <div class="col-sm-7">
            <input type="text" name="roleName" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <input id="submitAdd" type="button" value="保存" class="btn btn-primary white" />
        </div>
    </div>
    
    
</div>
<div id="EditRolePower" style="display: none">
    @using (Ajax.BeginForm("../UserRole/edit", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "CommentSuccess" }, new { id = "CommentForm" }))
    {
        <input type="hidden" id="Mid" name="Mid" />
        <div>
            @Html.Label("角色名称")
            <input type="text" id="roleName1" name="roleName1" value="" />
        </div>


        foreach (var val in AuthorizationGroup.GroupList)
        {

            <div class="form-group unline">
                <label for="checkbox" class="col-sm-3 control-label"><label><input class="checkAll" type="checkbox" style="vertical-align: text-top; margin-right: 5px;">@(val.Key)</label></label>
                <div class="col-sm-6">
                    @foreach (var c in val.Value)
                    {

                        <div class="checkbox block"><label><input type="checkbox" name="CheckThis" value="@(c.GetDescriptionN(0))"> @(c.GetDescriptionN(1))</label></div>

                    }

                </div>
            </div>



        }


        <input id="submitEdit" type="submit" value="保存" class="btn btn-primary btn-sm white" />
    }



</div>


    @section scripts
    {
        <script src="~/Plugin/window/jquery-window.js"></script>
        <script src="~/Plugin/pager/jquery-pager.js"></script>
        <script src="~/Scripts/UserRole/Index.js"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
        
        <script>
            var CommentSuccess = function (data) {
                if (data == "添加成功！") {
                    // alert(data);
                    $.message(data, true);
                    $.closeWindow({
                        status: true,
                        winId: "editThis"
                    });
                } else {
                    // alert(data);
                    $.message(data, false);
                    return;
                }
            }
</script>


    }
