@model Model.Brand
@{
    Layout = "~/Areas/Operate/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "添加品牌";
    System.Collections.Hashtable Enterprise = ViewBag.Enterprise as System.Collections.Hashtable;
}
@section styles{
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Css/base.css" rel="stylesheet" />
    <link href="~/Plugin/upload/css/upload.css" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
}
@section scripts
{
    <script src="~/Plugin/upload/script/util.js"></script>
    <script src="~/Plugin/upload/jquery-upload.js"></script>
    <script src="~/Areas/Operate/Scripts/Brand/Add.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
}
<div class="form-group">
    <label class="col-sm-3 control-label">品牌图片<span class="asterisk">*</span></label>
    <div class="col-sm-6">
        <label>选择图片：</label>
        <div id="uploadContainer1" data-image-type="3" data-callback-element="BIMG" data-url="/File/ImageUpload"
             data-accept="image/png,image/jpeg" data-size="6048" data-parttern="single" data-path="/File/ShowImage/{0}" data-cross-domain="true">
        </div>
    </div>
</div>
   @using (Ajax.BeginForm("../Brand/Add", null, new AjaxOptions { OnSuccess = "CommentSuccess" }, null))
   {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.BName, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.BName)
                </div>
            </div>
            @Html.Hidden("BIMG")
            <div class="form-group">
                @Html.Label("所属商品分类", htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-6">
                    @*<div selectname="" domdata-goodsclass>
            </div>*@
                    <table>
                        <tr>
                            <td>
                                <select name="Parentid" id="Parentid" style='width:100px'></select>
                            </td>
                            <td>
                                <select name="CId" id="CId" style='width:100px'></select>
                            </td>
                            <td>
                                <a class="btn" href='javascript:void(0)' id='addC'>添加</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnterpriseID, htmlAttributes: new { @class = "col-sm-3 control-label" })
                <div class="col-sm-6">
                    <select name="EnterpriseID" id="EnterpriseID">
                        @foreach (var i in Enterprise.Keys)
                        {
                            <option value="@i"> @Enterprise[i]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <input type="submit" value="添加" class="btn btn-default" />
                    @Html.ActionLink("返回", "Index")
                </div>
            </div>
        </div>
    }
