@model Model.Enterprise
@{
    Layout = "~/Areas/Operate/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "添加企业";
         System.Collections.Hashtable YesNo = ViewBag.YesNo as System.Collections.Hashtable;
         System.Collections.Hashtable ISLockChannel = ViewBag.ISLockChannel as System.Collections.Hashtable;
         System.Collections.Hashtable ISPrice = ViewBag.ISPrice as System.Collections.Hashtable;
}
@section styles{
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Css/base.css" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
}
@section scripts{
<script src="~/Plugin/upload/script/util.js"></script>
<script src="~/Plugin/upload/jquery-upload.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
}
<div class="form-group">
    <label class="col-sm-3 control-label">企业图片<span class="asterisk">*</span></label>
    <div class="col-sm-6">
        <label>选择图片：</label>
        <div id="uploadContainer1" data-image-type="2" data-callback-element="EIMG" data-url="/File/ImageUpload"
             data-accept="image/png,image/jpeg" data-size="6048" data-parttern="single" data-path="/File/ShowImage/{0}" data-cross-domain="true">
        </div>
    </div>
</div>
@using (Ajax.BeginForm("../Enterprise/Add", null, new AjaxOptions { OnSuccess = "CommentSuccess" }, null))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EName)
            </div>
        </div>
                @Html.HiddenFor(model => model.EIMG)
        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactTel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactTel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreasID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div  selectname="['ProvinceID','CityID','AreasID']" domdata-citys>
                </div>
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ISLockChannel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ISCOMM" id="ISCOMM">
                    @foreach (var i in ISLockChannel.Keys)
                    {
                        <option value="@i"> @ISLockChannel[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTimeout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTimeout)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultCOMM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DefaultCOMM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISScan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ISScan" id="ISScan">
                    @foreach (var i in YesNo.Keys)
                    {
                        <option value="@i"> @YesNo[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScanTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScanMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISCOMM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ISCOMM" id="ISCOMM">
                    @foreach (var i in YesNo.Keys)
                    {
                        <option value="@i"> @YesNo[i]</option>
                    }
                </select>

               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMMTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMMMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISReply, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ISReply" id="ISReply">
                    @foreach (var i in YesNo.Keys)
                    {
                        <option value="@i"> @YesNo[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISOtherScan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISOtherScan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherScanTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherScanTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherScanMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherScanMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultPWD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DefaultPWD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ISPrice" id="ISPrice">
                    @foreach (var i in ISPrice.Keys)
                    {
                        <option value="@i"> @ISPrice[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceLower, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceLower)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceUpper, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceUpper)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加" class="btn btn-default" />
                @Html.ActionLink("返回", "Index")
            </div>
        </div>
    </div>
}

<div>
  
</div>
