@model Model.WeixinMP
@{
    Layout = "~/Areas/Operate/Views/Shared/_ChildLayout.cshtml";
}
@section styles{
    <link href="~/Css/jquery.datatables.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Css/base.css" />
    <link rel="stylesheet" href="~/Css/style.default.css" />
}
<form action="/Enterprise/Create" method="post" data-ajax="true"
      data-callback="CreateSuccess">
    @Html.Hidden("EnterpriseID", ViewBag.EnterpriseID as string)
    <div class="form-group">
        <label class="col-sm-3 control-label">公众号名称： </label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.MPCName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">公众号账号：</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.UName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">公众号密码：</label>
        <div class="col-sm-8">
            @Html.PasswordFor(x => x.PWD, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">APPID:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.AppID, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">AppSecret：</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.AppSecret, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">二维码警界值：</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(x => x.QRNum, new { @class = "form-control", @Value = "100000" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-3">
            <button type="submit" class="btn btn-primary winO2OPanel" data-title="提交">提交</button>
            <button type="button" id="CreateCancel" class="btn btn-default">取消</button>
        </div>
    </div>
</form>
@section scripts{
    @* 引用页面js *@
    <script src="~/Areas/Operate/Scripts/Enterprise/Create.js"></script>
    @* 引用判断字符长度的方法 用来验证自定义model验证的字符长度 因为模式窗口是单独页面 只能在这里引用js 才会生效 *@
    <script src="~/Scripts/Common/Common.js"></script>
}
