@model Model.Enterprise
@{
    Layout = "~/Areas/Operate/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "编辑企业";
}
@using (Ajax.BeginForm("../Enterprise/Edit", null, new AjaxOptions { OnSuccess = "CommentSuccess" }, null))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EIMG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EIMG)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactTel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactTel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreasID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreasID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ISLockChannel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ISLockChannel, new List<SelectListItem>() { new SelectListItem { Text = "请选择" }, new SelectListItem { Text = "锁定", Value = "0" }, new SelectListItem { Text = "不锁定", Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTimeout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTimeout)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultCOMM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DefaultCOMM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISScan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ISScan, new List<SelectListItem>() { new SelectListItem { Text = "是", Value = "0" }, new SelectListItem { Text = "否", Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScanTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScanMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISCOMM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ISCOMM, new List<SelectListItem>() { new SelectListItem { Text = "是", Value = "0" }, new SelectListItem { Text = "否", Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMMTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMMMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMMMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISReply, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ISReply, new List<SelectListItem>() { new SelectListItem { Text = "是", Value = "0" }, new SelectListItem { Text = "否", Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISOtherScan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISOtherScan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherScanTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherScanTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherScanMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherScanMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderMSG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderMSG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DefaultPWD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DefaultPWD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ISPrice, new List<SelectListItem>() { new SelectListItem { Text = "开", Value = "0" }, new SelectListItem { Text = "关", Value = "1" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceLower, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceLower)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceUpper, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceUpper)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加" class="btn btn-default" />
                @Html.ActionLink("返回", "Index")
            </div>
        </div>
    </div>
}

<div>
  
</div>
