@model IList<Model.WeixinMP>
@{
    Layout = null;
}
<div class="panel panel-body-nopadding">
    @foreach (var item in Model)
    {
        <div class="box">
            <div class="clearfix">
                <h5 class="text-primary pull-left">@item.MPCName</h5>
                @if (item.Status == 0)
                {
                    <a class="btn btn-primary btn-sm pull-right" name="Edit" data-id="@item.ID">修改二维码</a>
                }
                else
                {
                    <a class="btn btn-primary btn-sm pull-right" name="Edit" data-id="@item.ID">修改</a>
                }
                <a class="btn btn-danger btn-sm pull-right marginRLeft" name="Delete" data-id="@item.ID">删除</a>
            </div>
            <div class="ex-line">
                <span>粉丝数：@item.FanCount</span>
                <span>直营店：@item.EnterpriseShopCount</span>
                <span>门店数：@item.AgentShopCount</span>
                <span>代理商数：@item.AgentCount</span>
                <span>
                    二维码使用情况：
                    <div class="progress" style="display: inline-block;">
                        @if (item.QRNumUsed == 0)
                        {
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            </div>
                        }
                        else
                        {
                            if (item.QRNum == item.QRNumUsed)
                            {
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    @item.QRNumUsed
                                </div>
                            }
                            else
                            {
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    @item.QRNumUsed
                                </div>
                            }
                        }
                    </div>@item.QRNum
                </span>
            </div>
        </div>
    }
</div>
