
@{
    ViewBag.Title = "门店管理";
}
@section styles{
   <link href="@Url.Content("~/css/jquery.datatables.css")" rel=" stylesheet">
<link rel="stylesheet" href="@Url.Content("~/css/selling.css")" />
<link href="@Url.Content("~/Plugin/window/css/common.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
<link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
<link href="~/Css/ShopInfo/Enterprise_Index.css" rel="stylesheet" />
    }
@section Scripts{
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
<script src="/Plugin/window/jquery-window.js"></script>
<script src="/Plugin/selectall/jquery-selectall.js"></script>
<script src="/Plugin/pager/jquery-pager.js"></script>
<script src="/Scripts/ShopInfo/Agent_Index.js"></script>
<script src="~/Scripts/ChannelpublicJs/PublicStatus.js"></script>
    }
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#home3" id="AgentPan1" data-toggle="tab"><strong>已审核</strong></a></li>
    <li><a href="#profile3" id="AgentPan2" data-toggle="tab"><strong>待审核</strong></a></li>
</ul>
<input type="hidden" id="agentId" value="@ViewBag.ID" />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="conditionForm" class="form-inline">
                <input type="hidden" name="statusXs" id="statusXs" value="1" />
                <div class="form-group">
                    <input type="email" class="form-control" id="shopNameSreach" name="shopName" placeholder="请输入门店名称">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="rphone" name="rphone" placeholder="请输入注册手机号">
                </div>
                <div class="form-group">
                    <div id="abcdE" dataneedcheck="0" selectname="['pId','cId','aId']" domdata-citys></div>
                </div>
                <div class="form-group">
                    <select id="Status" name="status" class="form-control">
                        <option value="-1">请选择状态</option>
                        <option value="0">正常</option>
                        <option value="2">待分配</option>
                        <option value="2">暂停</option>
                    </select>
                </div>

                <button type="button" class="btn btn-primary btn btn-sm" id="search" data-au="ChnView">查询</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <ul class="filemanager-options">
        <li>
            <div class="ckbox ckbox-default">
                <input type="checkbox" id="selectall" data-func="selectall" data-name="checkbox" value="1">
                <label for="selectall">全选</label>
            </div>
        </li>
        <li>
            <a class="btn btn-default btn-sm" id="BatchClose" data-au="ChnDel">批量关闭</a>
        </li>
    </ul>
</div><!--总体操作-->

<div class="tab-content">
    <div class="tab-pane active" id="home3">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table mb30">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>归属</th>
                                    <th>区域</th>
                                    <th>导购数</th>
                                    <th>所属公众号</th>
                                    <th>门店状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyAgentPanel1">

                            </tbody>
                        </table>
                        <div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
                            <span class="pager"></span>
                        </div>
                    </div><!--table-responsive-->
                </div><!--panel-body-->
            </div><!--panel-->
        </div><!---row-->
    </div><!--tab-pane-->
    <div class="tab-pane" id="profile3">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">                      
                        <table class="table mb30">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>归属</th>
                                    <th>区域</th>
                                    <th>联系人</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyAgentPanel2">
                            </tbody>
                        </table>
                        <div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
                            <span class="pager"></span>
                        </div>
                    </div><!--table-responsive-->
                </div><!--panel-body-->
            </div><!--panel-->
        </div><!---row-->
    </div>
</div>


<div class="modal fade" id="Enterprise_ToExamine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">审核门店</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">渠道类型 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                            <div class="rdio rdio-primary">
                                <input type="radio" id="male" value="m" name="gender" checked="checked" required="">
                                <label for="male">代理商门店</label>
                            </div>
                        </div>
                    </div>
 
                    <div class="form-group">
                        <input type="hidden" id="ShopId" />
                        <label class="col-sm-3 control-label">门店名称 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <label id="shopNameXs"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属代理商 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <label id="AgentNameXs"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属区域 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <label id="AreadNameXs"></label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">联系人 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <label id="ContactXs"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">联系方式 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <label id="MethodsXs"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">审核备注说明 <span class="asterisk">：</span></label>
                        <div class="col-sm-9">
                                <textarea id="ShRemarks" name="Remarks"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="ToExamine" class="btn btn-primary">通过</button>
                    <button type="button" id="Refuse" class="btn btn-default">拒绝</button>
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
</div>


