@model Model.Comments
@{
    ViewBag.Title = "编辑自定义评价";
    //对应权限名称 显示面包屑导航
    ViewBag.ParentCode = "FakeCommView";
    //需要来判断是否存在自定义评价
    if (Model.ID == 0)
    {
        <div>找不到自定义评价</div>
        return;
    }
}
@section styles{
    <link href="~/Css/selling.css" rel="stylesheet" />
    @* 上传的样式 *@
    <link href="~/Plugin/upload/css/upload.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @* 选择商品样式 *@
    <link href="~/Plugin/pager/css/pager.css" rel="stylesheet" />
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Plugin/datepicker/css/jquery.datetimepicker.css" rel="stylesheet" />
    @* 自动完成 *@
    <link href="~/Plugin/autocomplate/demo/jquery.autocomplete.css" rel="stylesheet" />
    <style>
        .panel-default {
            background: white;
        }

        .tab-content {
            background: #fcfcfc;
        }
    </style>

}
<form action="/Comments/Edit" method="post" data-ajax="true"
      data-callback="CommentsCreateSuccess" class="form-horizontal form-bordered">
    <div class="row">
        <div class="panel">
            <div class="panel-body panel-body-nopadding">
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品名称：</label>
                    @* 商品不能修改 *@
                    @Html.HiddenFor(o => o.ID)
                    @if (Model.GoodsBasic != null && Model.GoodsBasic.GESnapshotList != null && Model.GoodsBasic.GESnapshotList.Count > 0)
                    {
                        @Html.Raw("     <div class=\"col-sm-6  control-label\"  style=\"text-align:left;\">" +
                            Model.GoodsBasic.GESnapshotList[0].GName +
                                  "     </div>")
                    }
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">买家姓名：</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.CName, new { @class = "form-control input-sm", placeholder = "买家姓名" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">来源门店：</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(o => o.ShopName, new { @class = "form-control input-sm", placeholder = "来源门店" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">购买时间：</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.BuyTime, new { @class = "form-control input-sm", style = "width:150px;", @Value = Model.BuyTime.ToString("yyyy-MM-dd") })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">评论时间：</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.CommentTime, new { @class = "form-control input-sm", style = "width:150px;", @Value = Model.CommentTime.ToString("yyyy-MM-dd") })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">评论内容：</label>
                    <div class="col-sm-6">
                        <div class="rowRight">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home"><strong>图文</strong></a></li>
                                <li class=""><a data-toggle="tab" href="#profile"><strong>语音</strong></a></li>
                            </ul>
                            <div class="tab-content mb30">
                                <div id="home" class="tab-pane active">
                                    <div class="panel-body">

                                        <div class="imgBox">
                                            @Html.HiddenFor(o => o.Picture)
                                            <!-- 上传组件容器 必须要赋值图片属性 data-image-type -->
                                            <div id="uploadContainer4"
                                                 data-url="/File/ImageUpload"
                                                 data-accept="image/jpeg,image/png"
                                                 data-size="2048"
                                                 data-multiple="multiple"
                                                 data-callback-element="Picture"
                                                 data-path="/File/ShowImage/{0}"
                                                 data-max="5"
                                                 data-image-type="4"
                                                 data-cross-domain="true">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="texta">
                                        <div class="area1">
                                            <textarea name="Remarks" placeholder="请在这里进行文字评价" data-func='calcLength' data-max="400">@Model.Remarks</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="profile" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="imgBox">
                                            @Html.HiddenFor(o => o.Recording)
                                            <div id="uploadContainer1" data-callback-element="Recording"
                                                 data-max="3" data-url="/File/FileUpload"
                                                 data-accept="audio/mp3,audio/wav,audio/amr,audio/awb" data-size="2048" data-multiple="multiple"
                                                 data-path="/File/ShowAvi/{0}" data-parttern="video" data-cross-domain="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="texta">
                                        <div class="area1">
                                            <textarea name="Translation" placeholder="请在这里进行语音翻译" data-func='calcLength' data-max="400">@Model.Translation</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="area2">
                                <textarea id="Reply" name="Reply" placeholder="请在这里进行回复" data-func='calcLength' data-max="500">@Model.Reply</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="submit" class="btn btn-primary" id="Create" style="display: inline-block; margin-left:70px;" value="保  存" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @* 上传的js开始 *@
    <script src="~/Plugin/upload/jquery-upload.js"></script>
    @* 上传的js结束 *@
    <link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
    @* 选择商品 *@
    <script src="~/Plugin/selectall/jquery-selectall.js"></script>
    <script src="~/Plugin/pager/jquery-pager.js"></script>
    <script src="~/Plugin/window/jquery-window.js"></script>
    @* 最多几个字 *@
    <script src="~/Plugin/stringCalc/jquery-stringcalc.js"></script>
    @* 放在页面js前面 *@
    <script src="~/Plugin/datepicker/jquery.datetimepicker.js"></script>
    @* 自动完成 放在页面js前面 *@
    <script src="~/Plugin/autocomplate/jquery.autocomplete.js"></script>
    <script src="@Url.Content("~/Scripts/Comments/Create.js")" type="text/javascript"></script>
}
