@{
    Layout = null;
}
@{
    IList<Model.GoodsBasic> list = ViewBag.List as IList<Model.GoodsBasic>;
    string imageDomain = Bll.ConstConfigBll.GetConfigByKey("ImageShowUrl");
}
<style>
    #divShowGoods .form-group:hover {
        background-color: #c4efef;
        /*cursor: pointer;*/
    }
</style>
<form class="form-horizontal form-bordered">
    <div class="toptittle">
        <span>商品名称</span>
        <span>商品可视分组</span>
    </div>
    <div id="divShowGoods">
        @foreach (var val in list)
        {
            <div class="form-group">
                <input style="float: left;margin-top: 40px;margin-right:  15px; cursor: pointer;height: 20px;width: 20px" type="checkbox" value="1" goodsid="@(val.ID)" goodsname="@val.GESnapshotList[0].GName" />
                <dl class="dl-s">
                    <dt>
                        @if (val.GESnapshotList != null && val.GESnapshotList.Count > 0)
                    {
                        string img = imageDomain+val.GESnapshotList[0].IMG.Split(';')[0]+"_1";
                    <img src="@img" data-name="imgGoods" width="100" height="100" />
                    }
                    </dt>
                    <dd>
                        @if (val.GESnapshotList != null && val.GESnapshotList.Count > 0)
                    {
                    <h3>@val.GESnapshotList[0].GName</h3>
                    }
                        <b>￥@(val.Price)</b><br />

                        @if (val.GoodsClassSecond != null && val.GoodsClassFirst != null)
                    {
                    <label>
                        类目：@(val.GoodsClassFirst.CName) > @(val.GoodsClassSecond.CName)
                    </label>
                    }
                    </dd>
                </dl>
                <div class="provide" style="margin:0px;margin-right:20px;text-align:left;">
                    @foreach (var g in val.GoodsJoinGroupList)
                {
                    if (g.GoodsGroup != null)
                    {
                <span>@(g.GoodsGroup.GroupName)</span><br />
                    }
                }
                </div>
            </div>
        }
    </div>
</form>