@{
    //Layout = "~/Areas/Operate/Views/Shared/_ChildLayout.cshtml";
    Layout = null;
}
@model Model.KnowledgeArticle
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@((bool)ViewBag.UpDate ? "更新" : "新增")</title>
    <link href="~/Plugin/window/css/common.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/base.css" media="all">
    <link href="~/Content/common.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/module.css">
    <link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/default_color.css" media="all">
    <link href="~/Plugin/upload/css/upload.css" rel="stylesheet" />
    
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Plugin/window/jquery-window.js"></script>
    <script src="~/Plugin/form/jquery-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/imageUpload/ajaxfileupload.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="~/Scripts/public.js"></script>
    <script src="~/Plugin/upload/jquery-upload.js"></script>

    <script type="text/javascript" src="~/Scripts/common/Common.js"></script>

    <style type='text/css'>
        body {
            margin: 10px;
            padding: 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {

            //选择类目事件
            $("#btnClassSelect").click(function () {
                if ($("#selectClass").is(":hidden")) {
                    $("#selectClass").show();
                }
                else {
                    $("#selectClass").hide();
                }
            });
            //选择选中的
            $("ul[class='selecting-list'] li a").dblclick(function () {
                var content = $(this).html();
                var classId = $(this).attr("classId");
                //判断是否己经添加
                var _obj = $("ul[class='selected-list'] li a[classId=" + classId + "]");
                if (_obj && _obj.length > 0) {
                    $(_obj).parent().show();
                    return;
                }

                var html = $('<li><a href="javascript:void(0);" thisvalue="' + content + '" classId=' + classId + ' isSave="0">' + content + ' <i deleteClass="1">X</i></a></li>');
                $(html).find("i").click(function () {
                    if ($(this).parent().attr("isSave") == "0") $(this).parent().parent().remove();
                    else $(this).parent().parent().hide();
                });
                $("ul[class='selected-list']").append(html);
            });

            //删除选中的
            $("ul[class='selected-list'] i[deleteClass='1']").click(function () {
                if ($(this).parent().attr("isSave") == "0") $(this).parent().parent().remove(); else $(this).parent().parent().hide();
            });

            //确定
            $("#selectOk").click(function () {

                var content = "";
                var classid = ",";
                $("#selectedLst ul li a").each(function () {
                    if ($(this).parent().is(":hidden")) {
                        $(this).parent().remove();
                    }
                    else {
                        content += $(this).attr("thisvalue") + ",";
                        classid += $(this).attr("classId") + ",";
                        $(this).attr("isSave", "1");
                    }
                });
                $("#selectClass").hide();
                $("#classeName").html(content);
                $("#ClassId").val(classid);
            });
            //取消
            $("#selectCancel").click(function () {
                var content = "";
                var classid = ",";
                $("#selectedLst ul li a").each(function () {
                    if ($(this).parent().is(":hidden")) {
                        $(this).parent().show();
                    }

                    var val = $(this).attr("isSave");
                    if (val == "0") $(this).parent().remove();
                    else {
                        content += $(this).attr("thisvalue") + ","
                        classid += $(this).attr("classId") + ",";
                    }

                });
                $("#classeName").html(content);
                $("#ClassId").val(classid);
                $("#selectClass").hide();
            });
        });
        var CommentSuccess = function (obj) {
            if (obj && obj.success) {
                window.parent.$.message('保存成功', true);
                setTimeout(function () {
                    fanhui(true);
                }, 1000);
            }
            else {
                window.parent.$.message(obj.msg);
            }
        };
        function fanhui(isRefresh) {
            $.closeParentWindow({
                status: isRefresh,
                winId: '@(Model.Id ==0 ?"autoOpen":"autoOpen2")',
            });
        }

    </script>
</head>


<body>
    @{
        if (Model.Id == 0 && (bool)ViewBag.UpDate)
        {
            <div>该文章不存在</div>
            return;
        }

        string ClassName = "";
    }
    <div class="main-title">
        <h2>@((bool)ViewBag.UpDate ? "更新" : "新增")文章</h2>
    </div>
    <form style="width: 80%;height: 300px;margin-top:30px;" action="KnowledgeArticleAddOrUpdate" data-intercept='true' data-ajax="true" data-callback="CommentSuccess" method="post">
        <input type="hidden" value="" name="Name" />
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" name="ClassId" id="ClassId" value="@Model.ClassId" />
        <div class="form-item">
            <label class="item-label">文章所属类目：<span class="check-tips"></span></label>
            <div class="controls">
                <input type="button" class="btn" id="btnClassSelect" value="类目选择" />

                <div class="selects clearfix" id="selectClass" style="display:none">
                    <div class="selecting">
                        <div class="lei-search">
                            <input type="text" style="margin-left:15px;" class='lei-txt' placeholder="请输入关键词" />
                        </div>
                        <div id="searchClassContent">
                            @{Html.RenderAction("ClassPage_1");}
                        </div>
                    </div>
                    <div id="selectedLst" class="selected">
                        <h3 class='seled'>已选中</h3>
                        <ul class="selected-list">
                            @{
                                IList<Model.KnowledgeClass> list = ViewBag.ClassList as IList<Model.KnowledgeClass>;
                                string classIds = Model.ClassId;
                                if (!string.IsNullOrEmpty(classIds))
                                {
                                    string[] _classId = classIds.Split(',');
                                    for (int i = 1; i < _classId.Length - 1; i++)
                                    {
                                        int _cid = Convert.ToInt32(_classId[i]);
                                        var m = list.Where(x => x.Id == _cid).ToList().FirstOrDefault();
                                        ClassName += m.ClassName + ",";
                                        <li><a href="javascript:void(0);" thisvalue="@m.ClassName" classid="@m.Id" issave="1">@m.ClassName <i deleteclass="1">X</i></a></li>
                                    }
                                }

                            }

                        </ul>
                        <div class="btns">
                            <input type="button" value="确定" id="selectOk" class="exBtnOk" />
                            <input type="button" class="exBtnCancle" id="selectCancel" value="取消" />
                        </div>
                    </div>
                </div>
                <span name="classeName" id="classeName">@ClassName</span>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">文章标题：<span class="check-tips"></span></label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Title, new { @Class = "text input-large" })
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">标签：<span class="check-tips"></span></label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Tips, new { @Class = "text input-large", @placeholder = "输入多个标签时请用逗号进行分隔" })
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">是否顶置：<span class="check-tips"></span></label>
            <div class="controls">
                @Html.CheckBoxFor(x => x.IsTop)<label for="IsTop">置顶</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">文章配图：<span class="check-tips"></span></label>
            <div class="controls">
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品图片<span class="asterisk">*</span></label>
                    <div class="col-sm-6">
                        <div id="uploadContainer1" data-image-type="1" data-callback-element="Pic" data-callback-func="callbackImg" data-url="/File/ImageUpload"
                             data-accept="image/png,image/jpeg" data-size="2048" data-parttern="single" data-path="/File/ShowImage/{0}" data-cross-domain="true" data-val="true" data-val-autovalidate="商品图片不能为空！" style="width:260px;">
                        </div>
                        <span style="font-size:12px;color:red;">建议上传尺寸：640*640，支持格式：jpg/png/gif</span>
                    </div>

                </div>
                <input type="hidden" name="Pic" id="Pic" value="@Model.Pic" />
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">文章内容：<span class="check-tips"></span></label>
            <div class="controls">

                @Html.TextAreaFor(model => model.Content, new { placeholder = "Enter text here...", @cols = "100", @rows = "3", @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">原文地址：<span class="check-tips"></span></label>
            <div class="controls">
                @Html.TextBoxFor(x => x.Addrees, new { @Class = "text input-large", @placeholder = "http://" })
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" onclick="setValue()"  type="submit">添 加</button>
            @*<button class="btn submit-btn ajax-post" type="button">预 览</button>*@
            <button class="btn btn-return" type="reset" onclick="fanhui(false);">返 回</button>
        </div>
    </form>
    <script>
    var callbackImg = function (src) {

    }
    var editor;
    $(document).ready(function () {
         editor = CKEDITOR.replace('Content');
        editor.on("instanceReady", function () {
            $.resizeParentWindow('@(Model.Id ==0 ?"autoOpen":"autoOpen2")');
            });
        
    });
        function setValue()
        {
            //editor.on("blur", function () {
            //    debugger;
                $("#Content").val(editor.getData());
            //}, null, this);
        }
    </script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</body>
</html>