@model Model.KnowledgeClass
@{
    Layout = "~/Areas/Operate/Views/Shared/_ChildLayout.cshtml";
}
@{
    bool update = (bool)ViewBag.Update;
}
<link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/base.css" media="all">
<link href="~/Content/common.css" rel="stylesheet" />
<style type="text/css">
    .popLists li {
        width: 200px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/module.css">
<link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="~/Content/KnowledgeLibrary/css/default_color.css" media="all">
<link rel=stylesheet href="@Url.Content("~/css/base.css")" />
<link href="~/Plugin/window/css/common.css" rel="stylesheet" />
<link href="~/Css/bootstrap-override.css" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/poshytip/tip-yellowsimple/tip-yellowsimple.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/poshytip/jquery.poshytip.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Common/ansyValidate.js")" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>
<form style="width: 80%;height: 300px;margin-top:30px;" action="AddOrUpdateKnowledgeClass" data-intercept='true' data-ajax="true" data-callback="CommentSuccess" method="post">
    @if (!update && Model.Id != 0)
    {
        <input type="hidden" name="Pid" value="@Model.Id" />
    }
    <input type="hidden" name="Id" value="@(update?Model.Id:0)" />
    <ul class="popLists">
        <li>
            <input type="hidden" name="RefFirstid" value="0" />
            <label for="Pid">上级类目：</label>
            <select class="pre-root" id="Pid" name="Pid" @(!update && Model.Id != 0 ? "disabled" : "")>
                @{
                    IList<Model.KnowledgeClass> list = ViewBag.list as IList<Model.KnowledgeClass>;
                    long _id = Model.Id;
                    if (update) { _id = list.Where(x => x.Id == Model.Pid).Count() > 0 ? list.Where(x => x.Id == Model.Pid).First().Id : 0; }
                    if (list != null)
                    {
                        <option value="0">选择上级目录</option>
                        foreach (var val in list)
                        {
                            <option value="@val.Id" @(val.Id == _id ? "selected" : "")>@val.ClassName</option>
                        }
                    }
                }
            </select>

        </li>
        <li>
            <label for="ClassName">类目名称：</label>
            @Html.TextBoxFor(x => x.ClassName, new { @Value = update ? Model.ClassName : "", poshytip = "{alignY:'top',alignX: 'inner-right',offsetY: 5}" })
            @*<input type="text" id="ClassName" value="@(update?Model.ClassName:"")" name="ClassName">*@
        </li>
        <li>
            <label for="Remark">备注说明：</label>
            @Html.TextBoxFor(x => x.Remark, new { @Value = update ? Model.Remark : "", poshytip = "{alignY:'bottom',alignX: 'inner-right',offsetY: 5}" })
            @*<input type="text" id="Remark" value="@(update?Model.Remark:"")" name="Remark">*@
        </li>
        <li>
            <div>
                <input type="submit" class="ok" value="保存" />
                <input type="button" class="cancel" id="cancel" value="取消" />
            </div>
        </li>
    </ul>
</form>
<script type="text/javascript">
    function closew(isRefresh) {
        $.closeParentWindow({ winId: "autoOpen@(update? 2 : 1)", status: isRefresh });
    }
    //确定
    var CommentSuccess = function (data) {
        if (data && data.success === true) {
            parent.$.message('添加成功', data.success === true);
            window.setTimeout(function () {
                if (data.success === true) {
                    closew(true);
                    //window.Api.close();
                }
            }, 1000);
        }
        else {
            parent.$.message('操作失败', data.success === true);
            closew(false);
        }
    }

    //取消
    $("#cancel").click(function () {
        closew(false);
        //window.Api.close();
    });

</script>
