@{
    Layout = null;
}
<link href="~/Plugin/window/css/common.css" rel="stylesheet" />
<script src="~/Scripts/public.js"></script>
@{
    IList<Model.KnowledgeClass> list = ViewBag.List as IList<Model.KnowledgeClass>;


}
@{
    if (list == null)
    {
        <b>获取数据出错!</b>
    }
    else
    {
        <div class="selects_ table-responsive" id="selects_">
            <div class="tabl-head clearfix" style="background: #fff; padding:12px ;border-bottom:1px solid #eee">
                <span class="input-left">类目名称</span>
                <span class="edit-right">操作</span>
            </div>
            <div class="selecting tabl-body">
                @{
        var first = list.Where(x => x.Pid == 0).OrderBy(x => x.OrderNo).ToList();
        foreach (var f in first)
        {
            var second = list.Where(x => x.Pid == f.Id).OrderBy(x => x.OrderNo).ToList();
            string flcass = "fa-plus-square ";
            if (second.Count == 0) { flcass = "fa-minus-square"; }
            <div class="media" kclassid="@f.Id" order="@f.OrderNo">
                <div class="media-body clearfix">
                    <span class="input-left">
                        <span class="fa @(flcass) " isimage></span>
                        <input type="text" class=" input-sm" disabled="disabled" placeholder="@f.ClassName" />
                    </span>
                    <span class="edit-right table-aSpace">
                        <a href="javascript:void(0)" onclick="add(@f.Id)">添加子类</a>
                        <a href="javascript:void(0)" onclick="update(@f.Id)">修改</a>
                        <a href="javascript:void(0)" moveprev="1">上移</a>
                        <a href="javascript:void(0)" movenext="1">下移</a>
                        <a href="javascript:void(0)" onclick="del(@f.Id);">删除</a>
                    </span>
                </div>

                @if (second.Count > 0)
                {
                    <div ischild="1">
                        @foreach (var s in second)
                        {
                            var third = list.Where(x => x.Pid == s.Id).OrderBy(x => x.OrderNo).ToList();
                            string sclass = "fa-plus-square";
                            if (third.Count == 0) { sclass = "fa-minus-square"; }
                            <div class="media" kclassid="@s.Id" order="@s.OrderNo">
                                <div class="media-body clearfix">
                                    <span class="input-left">
                                        <span class="fa @(sclass) " isimage></span>
                                        <input type="text" class=" input-sm" disabled="disabled" placeholder="@s.ClassName" />
                                    </span>
                                    <span class="edit-right table-aSpace">
                                        <a href="javascript:void(0)" onclick="add(@s.Id)" style="margin-right: 10px;">添加子类</a>
                                        <a href="javascript:void(0)" onclick="update(@s.Id)" style="margin-right:10px;">修改</a>
                                        <a href="javascript:void(0)" moveprev="1" style="margin-right:10px;">上移</a>
                                        <a href="javascript:void(0)" movenext="1" style="margin-right:10px;">下移</a>
                                        <a href="javascript:void(0)" onclick="del(@s.Id);">删除</a>
                                    </span>
                                </div>

                                @if (third.Count > 0)
                                {
                                    <div ischild="1">
                                        @foreach (var t in third)
                                        {
                                            <div class="media" kclassid="@t.Id" order="@t.OrderNo">
                                                <div class="clearfix media-body">
                                                    <span class="input-left">
                                                        <span class="fa fa-minus-square " isimage></span>
                                                        <input type="text" class=" input-sm" disabled="disabled" placeholder="@t.ClassName" />
                                                    </span>

                                                    <span class="edit-right table-aSpace">

                                                        <a href="javascript:void(0)" onclick="update(@t.Id)" style="margin-right:10px;">修改</a>
                                                        <a href="javascript:void(0)" moveprev="1" style="margin-right:10px;">上移</a>
                                                        <a href="javascript:void(0)" movenext="1" style="margin-right:10px;">下移</a>
                                                        <a href="javascript:void(0)" onclick="del(@t.Id);">删除</a>
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                }
                            </div>
                        }
                    </div>
                }


            </div>
        }
                }
            </div>
        </div>
        <div class="mb30"></div>
        <div class="form-group">
            <a onclick="add(0)" href="javascript:void(0);"> 添加类目</a>
        </div>
        @*<div class="form-group">
                <a class="btn btn-primary btn-sm">保存</a>
            </div>*@
    }
}


<script type="text/javascript">
    //展开关闭功能
    $(document).ready(function () {

        $("span[isimage]").click(function () {
            var _next = $(this).parent().parent().next();
            if (_next && _next.length > 0) {
                if (_next.is(":hidden")) {
                    $(this).addClass("fa-plus-square").removeClass("fa-minus-square");
                    _next.show();
                }
                else {
                    $(this).addClass("fa-minus-square").removeClass("fa-plus-square");
                    _next.hide();
                }
            }
        });
        $("a[moveprev='1']").click(function () {
            var ele = $(this).parent().parent().parent();
            $(ele).elementMove({
                moveTyp: 1, beforeMove: moveFun
            });
        });
        $("a[movenext='1']").click(function () {
            var ele = $(this).parent().parent().parent();
            $(ele).elementMove({
                moveTyp: 2, beforeMove: moveFun
            });
        });
    });
    var moveFun = function (nowElement, nextElement) {
        debugger;
        var ret = false;
        $.ajax(
            {
                async: false,
                cache: false,
                url: '/Operate/KnowledgeLibrary/MoveKnowledgeClass',
                data: {
                    baseId: $(nowElement).attr("kclassid"), baseOrder: $(nowElement).attr("order"),
                    toId: $(nextElement).attr("kclassid"), toOrder: $(nextElement).attr("order")
                }
                , success: function (data) {
                    var _data = eval("(" + data + ")");
                    if (_data.success) {
                        var bor = $(nowElement).attr("order");
                        var tor = $(nextElement).attr("order");
                        $(nowElement).attr("order", tor);
                        $(nextElement).attr("order", bor);
                        ret = true;
                    }
                }
                , error: function () {
                }
            });
        return ret;
    };
    function callbackStr(data)
    {
        if(data && data.status===true)
        {
            location.replace(location.href);
        }
    }

    function add(id) {
        $.windowBase({
            id: "autoOpen1",
            title: "新增分类",
            callbackStr:'callbackStr',
            isShowBtn: false,
            //GoodsBasicIDs 已经选择过的商品ID
            url: '/Operate/KnowledgeLibrary/AddClass?Id=' + id,
            width: 450,
            height: 400
        });
    }
    function update(id) {
        $.windowBase({
            id: "autoOpen2",
            title: "修改分类",
            callbackStr:'callbackStr',
            isShowBtn: false,
            url: '/Operate/KnowledgeLibrary/AddClass?isUpdate=true&Id=' + id,
            width: 450,
            height: 400
        });
    }
    function del(id) {
        if (confirm("你确定要删除该类目么？")) {
            $.post("/Operate/KnowledgeLibrary/DeleteKnowledgeClass", { Id: id }, function (data, status, ref) {
                if (status == 'success') {
                    if (data.success) window.location.reload();
                    else {
                        alert(data.msg);
                    }
                }
            }, "json");
        }
    }
</script>