@using Model
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="../../css/style.default.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet" />
    @*<link href="~/Plugin/window/css/common.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/jquery")
   
    @RenderSection("styles", required: false)
    @{
        string publicConfig = Bll.ConstConfigBll.GetStringConfig();
    }
    <script type="text/javascript">
        var _publicConfig = '@publicConfig';
        window.publicConfig = JSON.parse($.htmlDecode(_publicConfig));;

    </script>

</head>
<body>
    <section>
        <div class="leftpanel">
            @Html.Partial("_LeftMenu")
        </div><!-- 导航 -->
        <div class="mainpanel">
            <div class="headerbar">
                @Html.Partial("_Header")
            </div><!-- 公共头部 -->
            <div class="pageheader">
                @Html.Partial("_BreadNav")
            </div><!--pageheader目录-->
            <div class="contentpanel">
                @RenderBody()
            </div><!-- 主体内容 -->
        </div><!-- mainpanel -->
    </section>

    @*<script src="~/Plugin/window/jquery-window.js"></script>*@
    <script src="../../Js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../Js/jquery-ui-1.10.3.min.js"></script>
    <script src="../../Js/bootstrap.min.js"></script>
    <script src="../../Js/modernizr.min.js"></script>
    <script src="../../Js/jquery.sparkline.min.js"></script>
    <script src="../../Js/toggles.min.js"></script>
    <script src="../../Js/retina.min.js"></script>
    <script src="../../Js/jquery.cookies.js"></script>
    <script src="../../Js/flot/jquery.flot.min.js"></script>
    <script src="../../Js/flot/jquery.flot.resize.min.js"></script>
    <script src="../../Js/flot/jquery.flot.spline.min.js"></script>
    <script src="../../Js/morris.min.js"></script>
    <script src="../../Js/raphael-2.1.0.min.js"></script>
    <script src="../../Js/custom.js"></script>
    <script src="../../Js/base.js"></script>

    @{
        #region 获取权限数据

        var permission = "";
        UserPC userPermission = null;
        if (Session["User"] != null)
        {
            userPermission = Session["User"] as UserPC;
            if (userPermission != null && userPermission.UserBasic != null)
            {
                userPermission.UserBasic.UserPc = null;
            }
            else
            {
                userPermission = new UserPC()
                {
                    UserBasic = new UserBasic(),
                    RolePowerList = new List<RolePower>()
                };
            }
        }
        else
        {
            userPermission = new UserPC()
            
            {
                UserBasic = new UserBasic(),
                RolePowerList = new List<RolePower>()
            };
        }
        permission = JsonConvert.SerializeObject(userPermission);
        //读取登录信息
        var UserPC = Session["user"] as Model.UserPC;

        #endregion
    }
    <script>
        window.permission = '@permission';
        var parentCode = '@ViewBag.ParentCode';
        var menuCode = '@ViewBag.MenuCode';
        var title = '@ViewBag.Title';
        //调用js方法来显示企业logo
        var srcLogo = getImgUrl('@UserPC.UserBasic.Enterprise.TitleLogo');
        $("#imgEnterpriseLogo").attr("src", srcLogo);
    </script>
    @RenderSection("scripts", required: false)
    <script>
        //按需加载js
        if (!$.fn.o2owindow) {
            $.getScript("/Plugin/window/jquery-window.js");
        }
        if (!$.fn.Upload) {
            $.getScript("/Plugin/upload/jquery-upload.js");
        }
    </script>
    <script>
        var isHasPermission = (function () {
            var userInfo = JSON.parse($.htmlDecode(window.permission));

            var userPower = userInfo.RolePowerList;
            return function (key) {
                var isHas = false;
                if (userInfo.UserName == "admin") {
                    return true;
                }
                if (key == "homePage") {
                    return true;
                }
                for (var i = 0; i < userPower.length; i++) {
                    var item = userPower[i];
                    var itemKey = item.PowerID;
                    if (itemKey == key) {
                        isHas = true;
                    }
                }
                return isHas;
            }
        })();


        var menuObj = [
            { "url": "/Login/Welcome", "name": "首页", "code": "homePage", "iconClass": "fa-home", "children": [] },
            {
                "url": "",
                "name": "渠道管理",
                "code": "",
                "iconClass": "fa-bank",
                "children": [
                    { "url": "/Channel/Index", "name": "渠道分组管理", "code": "ChnGroupView" },
                    { "url": "/ShopInfo/Enterprise_Index", "name": "直营店管理", "code": "ChnView", menuCode: "EnterpriseIndex" },
                    { "url": "/Agent/Index", "name": "代理商管理", "code": "ChnView", menuCode: "AgentIndex" },
                    { "url": "/ShopInfo/Agent_Index", "name": "代理商门店管理", "code": "ChnView", menuCode: "AgentShopIndex" },
                    //{ "url": "channelPay.html", "name": "支付结算", "code": "FinanceView" },
                    { "url": "/LoadIn/Index", "name": "渠道批量导入", "code": "ChnCheckIn" }
                ]
            },
            {
                "url": "",
                "name": "商品管理",
                "code": "",
                "iconClass": "fa-cubes",
                "children": [
                    { "url": "/GoodsGroup/Index", "name": "商品可视分组管理", "code": "GoodsGroupView" },
                    { "url": "/GoodsBasic/Operate", "name": "发布商品", "code": "GoodsEdit" },
                    { "url": "/GoodsBasic/Index", "name": "出售中的商品", "code": "GoodsView", menuCode: "SaleGoodsView" },
                    { "url": "/GoodsBasic/Index/1", "name": "仓库中的商品", "code": "GoodsView", menuCode: "StoreGoodsView" },
                    //{ "url": "index.html", "name": "商品推荐", "code": "GoodsView" },
                    //{ "url": "index.html", "name": "品牌管理", "code": "GoodsView" },
                    { "url": "/SellPoint/Index", "name": "销售卖点", "code": "GoodsEdit", menuCode: "SellPoint" }
                ]
            }, {
                "url": "",
                "name": "评价管理",
                "code": "",
                "iconClass": "fa-edit",
                "children": [
                    //{ "url": "evaluaManage.html", "name": "评价管理", "code": "CommView" },
                    { "url": "/Comments/Index", "name": "自定义评价管理", "code": "FakeCommView" },
                    { "url": "/Comments/Create", "name": "新增自定义评价", "code": "FakeCommEdit" },
                    { "url": "/ReturnVisit/Index", "name": "老客户回访", "code": "OldCommView" }
                ]
            }, {
                "url": "",
                "name": "账号角色管理",
                "code": "",
                "iconClass": "fa-group",
                "children": [
                    { "url": "/EnterpriseInfo/Index", "name": "企业基本信息", "code": "InfoView" },
                    { "url": "/WeixinMP/Index", "name": "公众账号管理", "code": "HNYSJYView" },
                    { "url": "/UserPC/Index", "name": "管理员账号管理", "code": "AccoView" },
                    { "url": "/UserRole/Index", "name": "角色管理", "code": "AccoView" }
                    //{ "url": "index.html", "name": "日志管理", "code": "LogView" }
                ]
            }
            //, {
            //    "url": "",
            //    "name": "二维码管理",
            //    "code": "",
            //    "iconClass": "fa-th-list",
            //    "children": [
            //        { "url": "index.html", "name": "二维码管理", "code": "QRcodeView" }
            //    ]
            //},
            //{
            //    "url": "",
            //    "name": "营销活动管理",
            //    "code": "",
            //    "iconClass": "fa-flag",
            //    "children": [
            //        { "url": "index.html", "name": "询价管理", "code": "" },
            //        { "url": "index.html", "name": "众筹管理", "code": "" }
            //    ]
            //}, {
            //    "url": "",
            //    "name": "互动社区",
            //    "code": "",
            //    "iconClass": "fa-comments",
            //    "children": [
            //        { "url": "index.html", "name": "综合讨论", "code": "BbsView" },
            //        { "url": "index.html", "name": " 知识库", "code": "" },
            //        { "url": "index.html", "name": "活动", "code": "ActView" }
            //    ]
            //}, {
            //    "url": "",
            //    "name": "数据统计",
            //    "code": "",
            //    "iconClass": "fa-bar-chart-o",
            //    "children": [
            //        { "url": "index.html", "name": "购买率统计", "code": "DataView" },
            //        { "url": "index.html", "name": "扫码统计", "code": "DataView" }
            //    ]
       // }
            , {
                "url": "",
                "name": "系统设置",
                "code": "",
                "iconClass": "fa-gears",
                "children": [
                    { "url": "/EnterpriseLock/Index", "name": "功能开关设置", "code": "SwitchView" }//,
                   // { "url": "index.html", "name": "自定义回复设置", "code": "SwitchView" }
                ]
            }
        ];
        var $menu = $("#O2OMenu");
        var url = window.location.pathname + "";
        var htmlArr = [];
        for (var i = 0; i < menuObj.length; i++) {
            var menu = menuObj[i];

            if (menu.children.length == 0) {
                htmlArr.push('<li class="no-child"><a href="' + menu.url + '"><i class="fa ' + menu.iconClass + '"></i> <span>' + menu.name + '</span></a></li>');
            } else {
                var isHas = false;
                var childrenMenu = null;
                $.each(menu.children, function (index) {
                    if ((menu.children[index].url == url && isHasPermission(menu.children[index].code)) || (parentCode && menu.children[index].code == parentCode)) {
                        if (menuCode) {
                            if (menu.children[index].menuCode == menuCode) {
                                isHas = true;
                            } else {
                                isHas = false;
                            }
                        } else {
                            isHas = true;
                        }
                        if (isHas) {
                            $("#breadNavicon").addClass(menu.iconClass);
                            var breadStr = "您的位置:" + menu.name + ">" + menu.children[index].name;
                            if (parentCode) {
                                breadStr = breadStr + ">" + title;
                            }
                            $(".breadcrumb-wrapper span").html(breadStr);

                            return false;
                        }
                    }
                });
                htmlArr.push('<li class="nav-parent ' + (isHas ? "nav-active active" : "") + '">');
                htmlArr.push(' <a  href="javascript:void(0)"><i class="fa ' + menu.iconClass + '"></i> <span>' + menu.name + '</span></a>');

                htmlArr.push('<ul ' + (isHas ? "style='display:block'" : "") + ' class="children">');
                for (var j = 0; j < menu.children.length; j++) {
                    var cMenu = menu.children[j];
                    if (!isHasPermission(cMenu.code)) {
                        continue;
                    }
                    if (cMenu.url == url || (parentCode && cMenu.code == parentCode)) {
                        if (menuCode) {
                            if (cMenu.menuCode == menuCode) {
                                htmlArr.push('<li class="active">');
                            } else {
                                htmlArr.push('<li>');
                            }
                        } else {
                            htmlArr.push('<li class="active">');
                        }
                    } else {
                        htmlArr.push('<li>');
                    }
                    htmlArr.push('<a  href="' + cMenu.url + '"><i class="fa fa-caret-right"></i>' + cMenu.name + '</a></li>');
                }
                htmlArr.push('</ul>');
            }
        }
        $menu.html(htmlArr.join(""));
        if (url.indexOf("Welcome") != -1) {
            $("li.no-child").addClass("active");
            $(".breadcrumb-wrapper span").html("您的位置:首页");
        }
    </script>
    <script>
        $(document).ajaxStart(function () {
            $.loading();
        }).ajaxComplete(function () {
            var data = arguments[1].responseJSON;
            if (data && data.Status != undefined && data.Identify != undefined && data.Identify.expired != undefined) {
                if ((data.Status == false || data.Status == "false") && (data.Identify.expired || data.Identify.expired == "true")) {
                    window.top.location.href = window.top.location.origin + "?returnUrl=" + encodeURIComponent(window.top.location.href);
                }
            }
            setTimeout(function () {
                $.loadingEnd();
            }, 200);

        }).ajaxError(function (event, jqxhr, settings, thrownError) {

            if (jqxhr.responseText.indexOf("中检测到有潜在危险的") != -1) {
                $.message("请勿输入的有潜在危险HTML字符!", false);
            } else {
                $.message("服务器异常，请联系管理员！");
            }
        });
    </script>
    <script>
        $(document).find(":text").keydown(function (event) {
            switch (event.keyCode) {
                case 13:
                    return false;
            }
            return true;
        });
    </script>


    <script>
        var ClickInfo = function () {
            var userInfo = JSON.parse($.htmlDecode(window.permission));
            var id = userInfo.UserBasicID;
            $("#hidId").val(id);
            $.post("/UserPC/ShowInfo", { id: id }, function (data) {

                $("#thisname").val(data.NickName);

                $("#SexId").val(data.Sex);
            });

        }
        var ClickSave = function () {
            var name = $("#thisname").val();
            var img = $("#infoIMG").val();
            var sex = $("#SexId").val();
            var id = $("#hidId").val();
            if (name.length <= 0) {
                $.message("昵称不能为空！", false);
                return;
            }
            if (name.length > 15) {
                $.message("昵称不能大于15位！", false);
                return;
            }
            $.post("/UserPC/BasicInfo", { id: id, name: name, img: img, sex: sex }, function (data) {
                if (data == "保存成功！") {
                    $.message(data, true);
                    setTimeout(function () {
                        location.reload();
                    }, 1000);

                } else {
                    $.message(data, false);
                    return;
                }

            });

        }



        var ClickByAjax = function () {
            debugger;
            var oldpwd = $("#oldpwd").val();
            var newpwd = $("#newpwd").val();
            var pwd = $("#pwd").val();
            if (oldpwd.length <= 0) {
                $.message("原始密码不能为空！", false);
                return;
            }
            if (newpwd.length <= 0) {
                $.message("新密码不能为空！", false);
                return;
            }
            if (pwd.length <= 0) {
                $.message("确认的密码不能为空！", false);
                return;
            }
            if (oldpwd.length < 6 && oldpwd.length > 0) {
                $.message("原始密码不能小于6位！", false);
                return;
            }
            if (newpwd.length < 6 && newpwd.length > 0) {
                $.message("新密码不能小于6位！", false);
                return;
            }
            if (pwd.length < 6 && pwd.length > 0) {
                $.message("确认的密码不能小于6位！", false);
                return;
            }

            if (oldpwd.length > 16) {
                $.message("原始密码不能大于16位！", false);
                return;
            }

            if (newpwd.length > 16) {
                $.message("新密码不能大于16位！", false);
                return;
            }

            if (pwd.length > 16) {
                $.message("确认的密码不能大于16位！", false);
                return;
            }
            if (pwd != newpwd) {
                $.message("两次输入的密码不一致！请确认所输入的密码！", false);
                return;
            }

            $.post("/UserPC/EditPwd", { oldpwd: oldpwd, pwd: pwd }, function (data) {
                if (data == "修改成功！") {
                    $.message(data + "2秒后跳转到登陆页面。", true);

                    setTimeout(function () {
                        window.top.location.href = "/Login/Index";
                    }, 2000);

                } else {
                    $.message(data, false);
                    return;
                }
            });


        } </script>

</body>
</html>
